<%= render "shared/page_title", title: @recipe.name %>

<p>
  <div class="row">
    <div class="col-md-4 pull-right center">
      <%= gravatar_for @recipe.chef, size: 200, class: 'gravatar' %>
      <p>
        Brought to you by <%= @recipe.chef.chefname %>
      </p>
    </div>
    
    <div class="col-md-8 pull-left">
      <%= link_to "Edit This Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
      <h3><%= @recipe.summary %></h3>
      <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
      </div>
      <div class="well">
        <p>
          <strong>Steps: </strong>
        </p>
        <%= simple_format(@recipe.description) %>
      </div>
    </div>
  </div>
  <%= link_to "Back To Recipes", recipes_path, class: "btn btn-default btn-warning" %>
</p>